/* .showUs {
    margin: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    float: right;
    position: static;
} */

.showUs {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 111vh;
    position: static;
    background-position: center;
    float: right;
}

/* .explainMador {
    position: relative;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    direction: rtl;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
} */

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    position: static;
}

.explainMador {
    width: 40vw;
    direction: rtl;
    text-align: center;
    background-color: black;
    color: white;
    /* position: absolute; */
    top: 120vh;
}


.downArrow {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw;
    min-width: 3vw;
    cursor: pointer;
}

.down {
    animation: jumpInfinite 1.25s infinite;
  }

@keyframes jumpInfinite {
    0% {
      margin-bottom: 0;
    }
    50% {
      margin-bottom: 0.75vh;
    }
    100% {
      margin-bottom: 0;
    }
  }