.searchIcon {
    width: 1.5vw;
    cursor: pointer;
    padding-left: 1vw;
    cursor: pointer;
}

.menuContainer {
    background-color: black;
    color: white;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menuIcon {
    padding-right: 1vw;
    width: 1.8vw;
    cursor: pointer;
}