.optionToChoose {
  height: 38vh;
  width: 36vw;
  margin: 1vh 0vw;
  font-size: 2.5rem;
  border-radius: 5vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 240, 255, 0.78);
}

.optionList {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.explainationAboutText {
  width: 20vw;
  text-align: center;
}

.right {
  direction: rtl;
}

.allOption {
  display: flex;
  width: 90vw;
  align-items: center;
  margin-bottom: 5vh;
  justify-content: space-evenly;
}

.grow {
  animation: growBiggerAni 1s forwards;
}
  
.shrink {
  animation: shrinkAni 1s forwards;
}

@keyframes growBiggerAni {
  100% {
    transform: scale(1.03);
  }
}
  
@-webkit-keyframes growBiggerAni {
  100% {
    transform: scale(1.03);
  }
}
  
@keyframes shrinkAni {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes shrinkAni {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

